body {
    background-color: blue;
    color:rgb(216, 208, 208);

    font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;

  margin:0px;
}

h1{
    font-size: 30;
}
header{
    font-size: 60;
    text-align: center;
    border-bottom: double  7px rgb(17, 14, 0);
    padding:15px;
    color:rgb(0, 255, 200);
}
p {
    font-size: 25;
}

section {
    background-color: rgb(60, 60, 121)73, 73, 185);
}